@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

.body-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header {
    text-align: center;
    color: #fff;
    background-color: black;
    background-attachment: scroll;
    background-image: url('../images/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.header .intro-text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'Oswald', sans-serif;
}

.header .intro-text p {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.header .intro-text .btn-primary {
    padding: 15px 25px;
    font-size: 16px;
}

.preloader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161616;
    z-index: 99;
}

.preloader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 8px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 25px 2px;
    -moz-box-shadow: 0 0 25px 2px;
    box-shadow: 0 0 25px 2px;
    color: #fff;
    border-color: rgba(0, 183, 229, 0.9);
    color: rgba(0, 61, 76, 0.9);
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spin-right-preloader 1s linear infinite normal;
    -moz-animation: spin-right-preloader 1s linear infinite normal;
    -ms-animation: spin-right-preloader 1s linear infinite normal;
    animation: spin-right-preloader 1s linear infinite normal;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
    margin: -15px 0 0 -15px;
}

    .preloader-content:after {
        display: block;
        width: 13px;
        height: 13px;
        margin: 3px;
        border: 6px solid rgba(0, 183, 229, 0.9);
        content: " ";
        border-radius: 50%;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }


.border {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 0 45%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.section-title h2 {
    color: #111;
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: #111;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------------------------*/
/* Start About Us Section                                  */
/*---------------------------------------------------------*/

.about-us-section-1 {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #f1f1f1;
}

.about-us-section-2 {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #28ABE3;
}

.welcome-section {
    background-color: #fff;
    padding-bottom: 40px;
    box-shadow: 0 0 3px #ccc;
    padding: 30px;
}

    .welcome-section img {
        width: 100%;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }


    .welcome-section h4 {
        padding-top: 20px;
        color: #777;
    }

    .welcome-section p {
        padding-top: 20px;
        color: #999;
    }

    .welcome-section:hover .border {
        margin: 0 40%;
    }
