@{ ViewBag.Title = "Home Page"; }

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">MS Club</h3>
        <p>
           MS Club 是中山大学的一个技术类社团，我们本着“学习先进技术，开拓创新思维，体验多元文化，成就一流人才”的宗旨，
           在MS Club，你能获得来自MSRA导师的亲自指导，结识技术大牛，接触前沿技术，感受微软文化，参加微软夏令营，
           更有MSRA实习内推机会。</p>
        <h3 class="ui header">我们的活动内容</h3>
        <p>
          无论是人工智能、机器学习、Web开发、UWP开发、游戏开发、ACM、信息安全，还是Windows、小冰、Surface、Xbox、Hololens，
          或是 .NET、C#、F#、TypeScript、Haskell、Java、Python、Rust、Go，抑或是黑客马拉松、编程之美、研究院项目、
          技术沙龙和交流会，甚至是参观访问、轰趴、烧烤、暑实、节日活动等等，这里都应有尽有。如果你对技术感兴趣、对微软感兴趣，
          那么这里将不容错过。在这里，我们将鼓励每一位部员，成就不凡。
        </p>
      </div>
      <div class="eight wide right floated column">
        <img src="~/tech-share.png" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui button" href="https://mp.weixin.qq.com/s/jBrrgkhmDRwZdyl_JikW4A" target="_blank">查看介绍</a>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>「学习先进技术，开括创新思维，体验多元文化，成就一流人才」</h3>
        <p>社团宗旨</p>
      </div>
      <div class="column">
        <h3>「中东第一技术社团」</h3>
        <p>
          普遍评价
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <div class="ui grid">
      <div class="eight wide column">
        <h3 class="ui header">技术分享</h3>
        <img src="~/tech-share.png" class="ui large bordered rounded centered image">
        <h3 class="ui header">技术讲座</h3>
        <img src="~/lecture.png" class="ui large bordered rounded centered image">
        <h3 class="ui header">团建活动</h3>
        <img src="~/tb.png" class="ui large bordered rounded centered image">
        <h3 class="ui header">华南 Hackathon</h3>
        <img src="~/hackathon.png" class="ui large bordered rounded centered image">
      </div>
      <div class="eight wide column">
        <h3 class="ui header">微软学生夏令营</h3>
        <img src="~/camp.png" class="ui large bordered rounded centered image">
        <img src="~/camp2.jpg" class="ui large bordered rounded centered image">
        <h3 class="ui header">微软亚洲研究院「明日之星」实习项目</h3>
        <img src="~/intern.png" class="ui large bordered rounded centered image">
        <h3 class="ui header">「编程之美」</h3>
        <img src="~/bocode.png" class="ui large bordered rounded centered image">
      </div>
    </div>
  </div>
</div>